In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key
c = Census(api_key, year=2017)
#!pip install census
Medicare_file = "medicare_charges.csv"

Requirement already satisfied: census in c:\users\the holy chin\anaconda3\lib\site-packages (0.8.13)
Requirement already satisfied: requests>=1.1.0 in c:\users\the holy chin\anaconda3\lib\site-packages (from census) (2.22.0)
Requirement already satisfied: future in c:\users\the holy chin\anaconda3\lib\site-packages (from census) (0.18.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\the holy chin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\the holy chin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\the holy chin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\the holy chin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.25.8)

In [27]:
census_data = c.acs5.get(("NAME", "B19013_001E", 
                          "B01003_001E", 
                          "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E",
                         "B25077_001E",
                         "B15003_022E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "B25077_001E": "Median Home Value",
                                      "B15003_022E": "Bachelor Count",
                                      "NAME": "Name", "zip code tabulation area": "Zip Code"})
Census_Cleaned = census_pd[["Population",
                            "Median Age",
                            "Per Capita Income",
                            "Zip Code"]]
Census_Cleaned.head()

   Population  Median Age  Per Capita Income Zip Code
0     17599.0        38.9             7041.0    00601
1     39209.0        40.9             8978.0    00602
2     50135.0        40.4            10897.0    00603
3      6304.0        42.8             5960.0    00606
4     27590.0        41.4             9266.0    00610

In [12]:
print(len(census_pd["Zip code"]))

33120

In [29]:
Medicare_Cost_df = pd.read_csv(Medicare_file)
Medicare_Cost_Cleaned = Medicare_Cost_df[["Provider Zip Code",
                                          "Provider State", 
                                          "DRG Definition", 
                                          "Average Total Payments"]]
Medicare_Cost_Cleaned = Medicare_Cost_Cleaned.rename(columns = {"Provider Zip Code":"Zip Code",
                                                               "Provider State":"State",
                                                               "DRG Definition":"Procedure",
                                                               "Average Total Payments": "Cost"})
Medicare_Cost_Cleaned.head()
#print(len(Medicare_Cost_df))

,Zip Code,State,Procedure,Cost
0,36301,AL,023 - CRANIOTOMY W MAJOR DEVICE IMPLANT OR ACU...,25823.714290
1,36301,AL,025 - CRANIOTOMY & ENDOVASCULAR INTRACRANIAL P...,20688.343750
2,36301,AL,027 - CRANIOTOMY & ENDOVASCULAR INTRACRANIAL P...,11811.181820
3,36301,AL,037 - EXTRACRANIAL PROCEDURES W MCC,19134.000000
4,36301,AL,038 - EXTRACRANIAL PROCEDURES W CC,8519.470588

In [28]:
#### Notes before we start again. We need to make sure we take stephens advice and jjust drop the Na values and duplicates.
#### Then its off to the races yall :)